# OPENAI_MODEL=kimi-k2
#qwen3-max
#tstars2.0
#qwen3-coder-plus
#qwen3-vl-plus
#qwen3-max-preview
#kimi-k2-0905
#glm-4.6
#kimi-k2
#deepseek-v3.2
#deepseek-r1
#deepseek-v3
#qwen3-32b
#qwen3-235b-a22b-thinking-2507
#qwen3-235b-a22b-instruct
#qwen3-235b
# OPENAI_API_KEY=
# OPENAI_BASE_URL=https://apis.iflow.cn/v1
OPENAI_API_KEY=
# OPENAI_MODEL=google/gemma-3-4b-it
#google/gemma-3-12b-it
#nvidia/Nemotron-3-Nano-30B-A3B
#Qwen/Qwen3-14B
#Qwen/Qwen3-32B
#deepseek-ai/DeepSeek-V3-0324-Turbo
#meta-llama/Llama-4-Maverick-17B-128E-Instruct-Turbo
#zai-org/GLM-4.5
#Qwen/Qwen3-Coder-480B-A35B-Instruct-Turbo
#openai/gpt-oss-120b
#deepseek-ai/DeepSeek-V3.1
#deepseek-ai/DeepSeek-V3-0324-Turbo
# OPENAI_BASE_URL=https://api.deepinfra.com/v1
#
# OPENAI_MODEL=gemini-2.5-flash
# OPENAI_MODEL=qwen3-max
# OPENAI_BASE_URL=http://127.0.0.1:8317/v1

# OPENAI_MODEL=qwen-portal,qwen3-coder-plus
# OPENAI_BASE_URL=http://127.0.0.1:6789/v1

# OPENAI_MODEL=zai
# OPENAI_BASE_URL=http://127.0.0.1:4001/v1
# OPENAI_API_KEY=
# OPENAI_MODEL=qwen3-coder-plus
# OPENAI_BASE_URL=https://portal.qwen.ai/v1